<a href="{{path('H

elloWithName',{'name':'Melinda'})}}">hello Melinda</a>
<a href="{{path('HelloWithName',{'name':'Paloma'})}}">hello Paloma</a>
<a href="{{path('HelloWithName',{'name':'Sahra'})}}">hello Sahra</a>
<a href="{{path('HelloWithName',{'name':'Elodie'})}}">hello Elodie</a>


{# <a href="{{path('helloWithName',{'name':'diego'})}}" > hello diego </a>
<a href="{{path('helloWithName',{'name':'sarah'})}}" > hello sarah </a>
<a href="{{path('helloWithName',{'name':'mouss'})}}" > hello mouss </a>
<a href="{{path('helloWithName',{'name':'didier'})}}" > hello didier </a> #}
